@charset "utf-8";

* {
margin: 0;
padding: 0;
border: 0; 
}

body {
	background-color: #d0ddd1
}
.display-4 {
	font-family: 'Raleway', sans-serif; font-weight: 900;
	color: #07592a;
	font-size: 25px;
	text-align: center;
}
.jumbotron {
	background-color: #d0ddd1;
}
.card {
	background-color: #d0ddd1;
	border: solid;
	border-color: #black;
}
.card-title {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 35px;
	color: #07592a;
}
.card-text {
	font-family: 'Raleway', sans-serif; font-weight: 900;
	font-size: 20px;
	text-align: center;
}
.btn {
  margin:0 auto;
  display:block;
  background-color:#ff7254;
  border-color: #ff7254;
  font-weight: bold;
}


h2 {
	font-family: 'Bebas Neue', cursive;
	font-size: 60px;
	color: #07592a;
}
.logo-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.navbar {
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	width: 100%;
	background-color: #d0ddd1;
}
.nav-light {
	color: #07592a   
}
.image {
  max-width: 100%;
  height: auto;
}
#image-1 {
  max-width: 100%;
  height: auto;
}
.container-1{
	width: 100%
}
.deerly-box {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} 
.my-footer {
	 position: bottom; 
     background: #E5E8E8 ;
     height: 60px;
	border-color: #F1948A;
}
.icon {
	float: left;
	height: 40px;
	width: 40px;
}
.footer{
	margin-top: 30px;
	margin-right: 10px;
	font-family: 'Raleway', sans-serif; font-weight: 900;
	font-size: 15px;
}
.facebook{
	margin-left: 10px;
	margin-top: 10px;
}
.instagram{
	margin-left: 10px;
	margin-top: 10px;
}
 /* Contact page */
 form {
 	font-family: 'Raleway', sans-serif; font-weight: 1000;
 }
 .contact-heading {
 	font-family: 'Bebas Neue', cursive;
	color: #07592a;
	font-size: 50px;
 }
 .hyperlinks {
 	color: #ff7254
 }
 h4 {
 	font-family: 'Raleway', sans-serif; font-weight: 1000;
 	color: #07592a;
 }
 .contact-icon {
 	height: 80px;
 	width: 80px;
 }
 .cart{
 	height: 350px;
 	width: 350px;
 	margin-left: auto;
 	margin-right: auto;
 	display: block;
 }
 .cart-text{
   text-align: center;
 }

h1{
    font-family: 'Bebas Neue', cursive;
	color: #07592a;
	font-size: 60px;
 }

h2{
    font-family: 'Bebas Neue', cursive;
	color: #07592a;
	font-size: 30px;
 }

p {
	font-family: 'Raleway', sans-serif; font-weight: 1000;
	font-size: 18px;
	color: #07592a;
}

.heading {
  background-color: #d0ddd1;
  color: white;
  border: 3px;
  margin: 20px;
  padding: 10px;
}

.box {
  background-color: #ffffff;
  color: white;
  border: 3px;
  margin: 20px;
  padding: 10px;
}

.team-image{
	width: 100%
}
.center{
	text-align: center;
	color: #07592a;
	font-size: 20px;
	background-color: #F0DEE0;
	border-radius: 25px;
}
.names{
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-weight: lighter;
	color: #07592a;
	font-size: 40px;
}
.logo {
	width: 200px;
	align-content: center;
}
.vision{
	font-family: 'Raleway', sans-serif; 
	font-size: 25px;
 	color: #07592a;
 	text-align: center;
}
.card-1{
	background-color: #F0DEE0;
	border-radius: 25px;
}
.card-2{
	font-family: 'Raleway', sans-serif; 
	font-size: 25px;
 	color: #07592a;
 	text-align: center;
 }
 .picture{
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 60%;
 }
